.recipe {
    height: 87%;
    width: 50%;
    position: fixed;
    padding: 2em;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

.left-recipe {
    /* float: left; */
    left: 0;
    /* width: 50%; */
    background-color: lightslategray;
}

.top-section {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
}

.top-right-section {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.time-section {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.recipe-image,
.image-field {
    width: 100%;
}

.field .input-field {
    width: 60%;
}

.label-time {
    display: block;
    width: max-content;
}

.side-by-side {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
}

.select,
.ingredient {
    padding: 0.6em;
    border-width: 0px;
    border-radius: 6px;
}

.input {
    margin-top: 0.4em;
    padding: 0.4em;
}

textarea {
    resize: none;
}

.recipe-description {
    width: 100%;
    height: 300px;
}

.recipe-step {
    width: 100%;
    height: 60px;
}

.list {
    width: 100%;
}

.time {
    width: 60%;
    padding: 1em 1em;
}

.serving {
    width: 30%;
}

.label {
    left: 0;
    padding-bottom: 0.5em;
}

.steps,
.ingredients {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    overflow: auto;
    flex-grow: 1;
}

.steps label,
.ingredients label {
    margin-right: auto;
    justify-self: start;
}

.add-button {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border: none;
    padding: 0.3em;
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 0.5em;
    box-shadow: 3px 3px darkgray;
}

.right-recipe {
    right: 0;
    background-color: lightgray;
}

.right-recipe label {
    float: left;
}

.ingredient-input {
    display: flex;
    justify-content: center;
}

.quantity {
    width: 61px;
    border-radius: 6px;
    border-width: 0px;
    height: 33px;
    margin: 0em 0.5em;
}

.result-container {
    position: absolute;
    background-color: white;
    max-height: 160px;
    overflow-y: auto;
    /* padding: 4px; */
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 222px;
    margin-top: 40px;
    margin-right: 112px;
    box-shadow: 4px 4px darkgrey;
}

.result-item {
    background: white;
}

.item {
    text-align: left;
    margin: 0;
    padding: 0.5em;
}

.item:hover {
    cursor: pointer;
    background: rgba(1, 1, 1, 0.1);
}

.button-close {
    margin-right: 6px;
}

.steps .button-close {
    float: right;
}

.submit-recipe {
    border-radius: 6px;
    transition: all 0.3s ease;
    border-width: 0px;
    padding: 0.6em;
    float: right;
    margin-top: 1em;
    font-style: oblique;
    box-shadow: 2px 2px darkgrey;
}

.submit-recipe:hover {
    background: rgba(1, 1, 1, 0.1);
}